.btn-toggle {
    font-size: 48px;
    padding-left: 10px;
    color: grey;
    overflow: visible;
    height: 35px;
    position: relative;
    top: -20px;
}

a{
    text-decoration: none;
}

i{
    margin-right: 10px;
}

.espace_critique {
    background-color: orangered;
    color: white;
}

.espace_warning {
    background-color: orange;
}

.highlighted_row {
    background-color: lightgoldenrodyellow;
}

.btn_monitoring{
    background-color: white;
    border-color: #f39c12;
    margin-left: 10px;
}


.btn_monitoring:hover{
    background-color: #f39d12;
}



.btn_commentating{
    background-color: white;
    border-color: #f39c12;
    margin-bottom: 10px;
}

.btn_commentating:hover{
    background-color: #f39c12;
}

.btn_suppress{
    background-color: white ;
    border-color: #dd4b39;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_suppress:hover{
    background-color: #dd4b39;
    color:white;
}

.label_form{
    margin-right: 10px;
    margin-top: 15px;
}

.required:after{
    content: " *";
    color: red;
}

.btn_add{
    float: right;
}

.flex_buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.txt_comment{
    width: 100%;
    margin-top:10px;
}

.flex_form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.author_name_comment{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn_login{
    margin-right: 10px;
}

.flex_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validate_status_ok{
    color:red;
    display: none;
}

.validate_status_nok{
    color: red;
    display: block;
    margin-bottom: -10px;
}

