html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/*
body {
    max-width: 1200px;
    min-width: 300px;
    margin:0 auto;
    padding: 20px 10px;
    font-size: 14px;
    font-size: 1.4em;
}*/

.txt_readable {
    font-size: 1.4em;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    overflow: hidden;
    max-width: 1200px;
    min-width: 300px;
    margin-left: auto;
    padding-left: 20px;
    padding-top: 15px;
}


.demo {
    overflow: auto;
    min-height: 100px;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 14px;
    font-size: 1.4em;
}

.link {

    font-weight: bold;
}

label {
    padding: 10px;
}

.help {
    font-size: 100%;
}

.btn-toggle {
    font-size: 48px;
    padding-left: 10px;
    color: grey
}